/* global */
:root {
  /* App Colors */
  --color-primary: var(--color-black);
  --color-primary-variant: var(--color-gray);
  --color-accent: var(--color-blue);
  --color-accent-variant: var(--color-orange);
  --color-text: var(--color-white);

  /* Colors */
  --color-white: #ffffff;

  --color-black: #050a13;

  --color-blue: #03e8f9;

  --color-orange: #fd6413;

  --color-gray: #1b1e26;

  /* Size */
  --size-max-width: 75rem;
}

* {
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
}
h1,
h2,
h3,
p,
ul {
  margin: 0;
}
ul {
  list-style: none;
  padding: 0;
}
a {
  text-decoration: none;
  color: var(--color-text);
}
button {
  background-color: transparent;
  outline: 0;
  border: 0;
}
button:focus {
  outline: 1px solid var(--color-accent);
}

/* 공통 스타일링 */
/*  section 들을 보면 큰틀의 스타일링이 반복되는걸 볼 수 있음 반복되고 일관적인 스타일링을 매번 칠 순 없으니 클래스를 정의해서 재사용 가능 */

/* Common */
.section {
  padding: 4rem;
  text-align: center;
}
.max-container {
  max-width: var(--size-max-width);
  /*max-width를 설정한 이유는 화면이 커질수록 너무 flex-item끼리 벌어져서 설정 */
  /* 그랬더니 왼쪽으로만 몰린걸 볼 수 있음 이럴때 수평정렬 중간정렬ㄴ을 위해 사용하는게 margin:auto */
  margin: auto;
}
.title {
  font-size: 40px;
  margin: 16px 0;
}
.description {
  font-size: 1.5rem;
  margin: 0.5rem 0;
}

/* Header */
.header {
  background-color: transparent;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  transition: all 300ms ease;
}
.header--dark {
  background-color: var(--color-primary);
  box-shadow: var(--color-accent) 0px 3px 8px;
}

.header__logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.header__logo__img {
  width: 36px;
  height: 36px;
}
.header__logo__title {
  font-size: 28.8px;
}
.header__menu {
  display: flex;
  gap: 4px;
}
.header__menu__item {
  padding: 8px 16px;
}
.header__menu__item:hover {
  border-bottom: 1px solid var(--color-accent);
}
.header__menu__item.active {
  border: 1px solid var(--color-accent);
  border-radius: 4px;
}

/* home */
#home {
  background-color: var(--color-primary);
  color: var(--color-text);
  padding: 5rem 1rem;
  padding-top: 7rem;
  text-align: center;
}

.home__avatar {
  width: 250px;
  height: 250px;
  object-fit: cover;
  /* object-fit은 <img>,<vide> 요소와 같이 컨텐츠 크기를 어떤 방식으로 조절해 요소에 맞출건인지 지정
    cover는 가로 세로 비를 유지하면서 요소 콘텐츠 박스를 가득 채움 서로 가로 세로 비율이 일치하지 않으면 일부 잘려나감
  */
  border-radius: 100%;
  border: 3px solid var(--color-accent);
}
.home__title {
  font-size: 3rem;
  margin-bottom: 1rem;
}
.home__title--strong {
  color: var(--color-accent);
}
.home__description {
  font-size: 20.8px;
}
.home__contact {
  display: inline-block;
  background-color: var(--color-accent);
  padding: 0.5rem 1rem;
  margin: 32px;
  font-weight: bold;
  color: var(--color-black);
  border-radius: 4px;
}

.home__contact:hover {
  background-color: transparent;
  color: var(--color-text);
  outline: 2px solid var(--color-accent);
}
/* border를 썼을땐 height 크기를 지정안해서 호버 이벤트가 작동하는 순간 보더가 생기면서 home의 height가 늘어나는것처럼 보임
   그래서 컨텐츠에 영향을 주지않고 외곽의 효과를 주면서 크기변화는 안 주는 outline 사용 
  */

/* About */
.majors {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin: 2.5rem 0;
}
.major {
  background-color: var(--color-primary-variant);
  padding: 32px 16px;
  color: var(--color-text);
  border-radius: 1rem;
  cursor: default;
  box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.38);
  /* cursor가 안 바뀌게 */
  /* boxshadow:관련 사이트

  https://cssgenerator.org/box-shadow-css-generator.html
https://manuarora.in/boxshadows */
}
.major__icon {
  font-size: 4rem;
  margin: 1rem 0;
  color: var(--color-accent);
  transition: all 300ms ease;
}
.major__title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 1rem;
}
.major:hover .major__icon {
  transform: rotate(-15deg) scale(1.2);
}
.jobs {
  text-align: start;
}
.job {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 16px;
}
.job__name {
  color: var(--color-primary);
}
.job__period {
  color: var(--color-primary);
  font-size: 0.8rem;
}
/* Skills */
#skills {
  background-color: var(--color-primary-variant);
  color: var(--color-text);
}
.skills {
  display: grid;
  grid-template-columns: 6fr 4fr;
  margin: 32px 3rem;
  border-radius: 8px;
  /* overflow:hidden를 안해주면 border-radius가 안된걸로 나오는데 
  그게 아니라 적용은됐으나 그리드를 사용했어서 그리드 배경색이 삐져나와서 보이는거임 그래서 안된걸로 보이는거 */
  overflow: hidden;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}
.skills_title {
  color: var(--color-accent);
  margin: 1rem 0;
  font-size: 1.2rem;
}
.skill__coding {
  grid-row: span 2;
  /* grid-row:span 2 세로로 두 그리드 차지
    grid-column:span 2 가로로 두 그리드 차지
  */
  padding: 1rem;
  background-color: var(--color-primary);
}
.skill__tools {
  padding: 1rem;
}
.skill__etc {
  padding: 1rem;
  background-color: var(--color-primary);
  filter: brightness(150%);
  /* 색깔을 살짝 변형시킬때 */
}
.bar {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 0.5rem;
}
.bar__metadata {
  display: flex;
  justify-content: space-between;
}
.bar__bg {
  width: 100%;
  height: 3px;
  background-color: var(--color-primary-variant);
}
.bar__value {
  height: 3px;
  background-color: var(--color-accent);
}
/* work */
#work {
  background-color: var(--color-primary);
  color: var(--color-text);
}
.categories {
  display: flex;
  justify-content: center;
  margin: 2.5rem;
  gap: 1rem;
}
.category {
  position: relative;
  color: var(--color-text);
  font-size: 1.1rem;
  padding: 0.5rem 3rem;
  border-radius: 4px;
  border: 1px solid var(--color-accent);
  cursor: pointer;
  white-space: nowrap;
}
.category__selected {
  background-color: var(--color-accent);
  color: var(--color-primary);
}
.category__count {
  opacity: 0;
  position: absolute;
  top: -20px;
  line-height: 28px;
  border-radius: 100%;
  right: 16px;
  width: 28px;
  height: 28px;
  background-color: var(--color-accent-variant);
  color: var(--color-text);
  transition: all 250ms ease-in;
}
.category__selected .category__count,
.category:hover .category__count {
  opacity: 1;
  top: 0;
}
.projects {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 16px;
}
.project {
  position: relative;
  border-radius: 8px;
  overflow: hidden;
}
.project__img {
  width: 100%;
}
.project__metadata {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 250ms ease-in;
  transform: translateY(-10px);
  justify-content: center;
}
.project__metadata:hover {
  opacity: 0.8;
  transform: translateY(0px);
}
.project__title::after {
  content: "";
  display: block;
  position: relative;
  transform: translateX(-50%);
  margin: 0.5rem 0;
  left: 50%;
  width: 50px;
  height: 2px;
  background-color: var(--color-accent);
  /* 꾸미기용 가상요소 프로젝트 이미지 누르면 파란색 바 만들떄 쓰임 */
}

/* testimonial */
.testimonials {
  margin: 3rem;
}
.testimonial {
  display: flex;
  gap: 2rem;
  align-items: center;
  margin-bottom: 2rem;
}
.testimonial:nth-child(even) .testimonial__img {
  order: 1;
  /* display flex순서 변경하는거 */
}
.testimonial__img {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.testimonial__bubble {
  padding: 1rem;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.testimonial__bubble__name {
  color: var(--color-accent);
  font-weight: bold;
  filter: brightness(70%);
}
/* Arrow up */
.arrow-up {
  background-color: var(--color-primary);
  position: fixed;
  bottom: 3rem;
  right: 48px;
  font-size: 3rem;
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 100%;
  text-align: center;
  box-shadow: 5px 5px 0px 0px var(--color-accent);
}
/* footer */
#contact {
  background-color: var(--color-primary);
  color: var(--color-text);
}
.contact__links {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 16px;
  font-size: 2rem;
}
.contact__link {
  transition: color 250ms ease-in;
}
.contact__link:hover {
  color: var(--color-accent);
}
@media screen and (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: start;
  }
  .header__menu {
    flex-direction: column;
    text-align: center;
    padding: 1rem 4rem;
    gap: 1rem;
  }
  .header__nav {
    width: 100%;
  }
  .section {
    padding: 3rem 2rem;
  }
  .title {
    font-size: 2rem;
  }
  .description {
    font-size: 1rem;
  }

  #home {
    padding-bottom: 3rems;
  }
  .home__title {
    font-size: 2.5rem;
    margin-bottom: 0.5rems;
  }
  .majors {
    flex-direction: column;
    align-items: center;
  }
  .major {
    max-width: 25rem;
  }
  .job {
    justify-content: center;
  }
  .skills {
    grid-template-columns: 1fr;
  }
  .categories {
    flex-direction: column;
  }
  .category {
    width: 100%;
  }
  .projects {
    grid-template-columns: repeat(2, 1fr);
  }
  .testimonial {
    flex-direction: column;
  }
  .testimonial:nth-child(even) .testimonial__img {
    order: 0;
  }
  /* @media screen and (min-width: 576px) {
    .header__menu {
      opacity: 0;
    } */

  .arrow-up {
    font-size: 2rem;
    width: 3rem;
    height: 3rem;
    bottom: 1.5rem;
    right: 1.5rem;
  }
}
@media screen and (max-width: 576px) {
  .header__nav__button {
    color: var(--color-accent);
    position: absolute;
    right: 0;
    font-size: 2rem;
  }
  .header__menu {
    visibility: hidden;
    position: absolute;
    right: 0;
  }
}
